@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-flow: column;
  min-height: 100vh;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 800;
}

.right-header ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-size: 18px;
  font-weight: 100;
}

.right-header ul li a {
  color: #e5e7eb;
  text-decoration: none;
}

.main-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 600px;
  gap: 150px;
}

.left-main-1 {
  width: 450px;
  height: 50%;
}

.left-main-1 h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.left-main-1 button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.left-main-1 p {
  font-size: 18px;
  color: #e5e7eb;
}

.main-1 img {
  width: 600px;
  height: 50%;
}

.main-2 {
  height: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f9faf8;
}

.main-2 h1 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  width: 200px;
}

.card p {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
  padding: 10px;
}

.image {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.main-3 {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 40%;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote-from {
  font-size: 18px;
  font-weight: 800;
  text-align: end;
}

.main-4 {
  height: 300px;
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 50%;
  width: 70%;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-text h2 {
  color: #f9faf8;
  font-size: 24px;
}

.box-text p {
  color: #e5e7eb;
  font-size: 18px;
}

.box button {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 800;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 10px;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
